.connectivity_section {
    padding-top: 2rem;
}
.connectivity_subheading {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--font-bold);
    color: var(--color-footer);
    margin-top: 2rem;
}
.connectivity_content {
    font-size: 18px;
    color: var(--color-black);
    margin-top: 1rem;
}
@media (max-width: 1440px) {
    .connectivity_content {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .connectivity_subheading {
        font-size: 20px;
    }
    .connectivity_content {
        font-size: 16px;
    }
}