.contact_us_section {
    position: relative;
    background-color: var(--color-footer);
    border-radius: 25px 25px 0 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.contact_us_section .contact_bg_image {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 25px;
    object-fit: cover;
}
.contact_us_section .contact_us_flex {
    display: flex;
}
.contact_us_left_col {
    flex: 1;
    width: 50%;
}
.contact_us_right_col {
    width: 50%;
    flex: 1;
}
.contact_section_form {
    padding: 0 0 0 2rem ;
}
.contact_section_form .main_heading {
    color: var(--color-white);
    font-size: 30px;
    font-weight: 500;
    font-family: var(--font-medium);
}
.contact_section_form .main_heading::after {
    background-color: var(--color-white);
}
.contact_section_form  .contact_text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-medium);
    color: var(--color-white);
    margin: 1rem 0 2rem;
}
.contact_section_form h5 {
    font-size: 35px;
    font-weight: 600;
    font-family: var(--font-semibold);
    margin-bottom: 15px;
    color: var(--color-yellow);
    display: none;
}
.contact_section_form input {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-medium);
    padding: 12px 12px !important;
    height: auto;
    border: none !important;
    border-bottom: 1px solid var(--color-border) !important;
    border-radius: 0px;
    background-color: var(--color-transparent) !important;
    color: var(--color-white);
}
.contact_section_form input::placeholder {
    color: var(--color-white);
}
.contact_section_form .PhoneInput {
    border: none !important;
    border-bottom: 1px solid var(--color-border) !important;
    border-radius: 0px;
    background-color: var(--color-transparent) !important;
    padding: 12px 12px !important;
}
.contact_section_form .PhoneInput input {
    border: none !important;
    border-radius: 0px;
    padding: 0 10px !important;
}
.contact_section_form .checkbox_div {
    margin-top: 2rem !important;
    font-size: 12px;
    color: var(--color-white);
}
.contact_section_form input.checkbox {
    background-color: var(--color-transparent) !important;
}
.contact_section_form .custom-checkbox .checkmark {
    border: 1px solid var(--color-white);
    width: 18px;
    height: 18px;
}
.contact_section_form .submit_btn {
    background-color: var(--color-yellow) !important;
    color: var(--color-black);
    border-radius: 50px;
    text-transform: capitalize;
    padding: 10px 20px !important;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-medium);
    border: 1px solid var(--color-yellow) !important;
    margin-top: 2rem;
}
.contact_section_form .text-center.flex.items-center.justify-end {
    justify-content: start !important;
}
.contact_section_form .submit_btn:hover {
    background-color: var(--color-btn-bg) !important;
    color: var(--color-black) !important;
    border-color: var(--color-black) !important;
}
.contact_section_form .enquire-form .form_label {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-semibold);
    margin-top: 1rem;
}
.contact_section_form .price_range_group .btn {
    border-color: #EAEAEA !important;
    color: #EAEAEA;
    padding: 12px;
    font-size: 16px;
}
.contact_section_form .price_range_group .btn-check:checked+.btn,
.contact_section_form .price_range_group .btn:active,
.contact_section_form .price_range_group .btn:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
    border-color: var(--color-yellow) !important;
}
.contact_section_form .custom-checkbox .checkmark {
    border-color: var(--color-white);
}
.contact_section_form .custom-checkbox input:checked + .checkmark {
    background: var(--color-transparent);
    border-color: var(--color-white);
}
.contact_section_form .custom-checkbox input:checked + .checkmark::after {
    border-color: var(--color-white);
}
.contact_us_section .PhoneInputCountrySelectArrow {
    --PhoneInputCountrySelectArrow-color: var(--color-white) !important;
}
.contact_us_section .success-wrapper .success_msg {
    color: var(--color-white);
    text-align: center;
}
.success-wrapper .thanku-txt {
    font-size: 35px;
    font-weight: 600;
    font-family: var(--font-semibold);
    margin-bottom: 1rem;
    text-align: center;
}
.contact_us_section .enquire-form {
    min-height: 467px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_us_section .enquire-form .form-section {
    width: 100%;
}  
@media (max-width: 1199px) {
    .contact_us_section .contact_us_flex {
        gap: 2rem;
    }
    .contact_section_form {
        padding: 0 1rem;
    }
    .contact_section_form .price_range_group .btn {
        font-size: 14px;
        padding: 12px 6px;
    }
}
@media (max-width: 991px) {
    .contact_us_section .contact_us_flex {
        gap: 1rem;
        flex-direction: column;
    }
    .contact_us_left_col {
        flex: 1;
        max-width: 100%;
    }
    .contact_us_content {
        min-height: 650px;
    }
    .contact_us_content .contact_us_content_text {
        padding: 1rem;
        min-height: 300px;
    }
    .contact_us_content .contact_us_content_text .contact_form_text {
        font-size: 16px;
    }
    .contact_section_form {
        padding: 2rem 0 0;
    }
    .contact_us_section {
        padding-top: 500px;
    }
    .contact_us_section .contact_bg_image {
        width: 100%;
        height: 500px;
        border-radius: 25px 25px 0 0;
    }
    .contact_us_right_col {
        width: 100%;
    }
    .success-wrapper .thanku-txt {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    .contact_section_form .main_heading {
        font-size: 25px;
    }
    .contact_section_form  .contact_text  {
        font-size: 16px;
    }
    .contact_us_section .enquire-form {
        min-height: 420px;
    }
    .contact_us_section .contact_us_flex {
        gap: 2rem;
        flex-direction: column;
    }
    .contact_us_content .contact_us_content_text {
        padding: 2rem;
    }
    .contact_section_form h5 {
        font-size: 20px;
    }
    .contact_section_form .enquire-form .form_label {
        font-size: 18px;
    }
    .contact_section_form input,
    .contact_section_form .PhoneInput {
        font-size: 15px;
        padding: 10px 12px !important;
    }
    .contact_section_form .submit_btn {
        padding: 10px 20px !important;
    }
    .contact_section_form .price_range_group .btn {
        font-size: 14px;
        padding: 10px 10px;
    }
}
@media (max-width: 480px) {
    .contact_us_content .contact_us_content_text .contact_form_text {
        font-size: 14px;
    }
    .contact_section_form .price_range_group .btn {
        font-size: 12px;
        padding: 8px;
    }
    .contact_section_form .submit_btn {
        font-size: 16px;
    }
    .contact_us_section .contact_bg_image {
        height: 300px;
    }
    .contact_us_section {
        padding-top: 300px;
    }
}
@media (max-width: 380px) {
    .contact_section_form .price_range_group .btn {
        font-size: 10px;
        padding: 8px 5px;
    }
}