.price_list_section {
    padding-bottom: 2rem;
}
.floor_plans_nav {
    margin: 2rem 0;
    gap: 10px;
    flex: 1;
    justify-content: end;
}
.floor_plans_nav .nav-link {
    background-color: var(--color-white);
    border: 1px solid var(--color-footer);
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-black);
    border-radius: 25px;
    padding: 10px 16px;
}
.floor_plans_nav .nav-link.active,
.floor_plans_nav .nav-link:hover {
    background-color: var(--color-footer);
    color: var(--color-white);
}
.floor_blans_image img {
    max-width: 100%;
    margin: auto;
    cursor: pointer;
}
.floor_palns_flex {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.floor_palns_flex .floor_text_title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--font-medium);
}
.floor_palns_flex .floor_text_content {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-black);
}
.floor_palns_flex .floor_text_content.blur {
    filter: blur(4px);
}
.floor_plans_btn {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    background-color: var(--color-yellow);
    color: var(--color-black);
    padding: 10px 20px;
    border: 1px solid var(--color-yellow);
}
.floor_plans_btn img {
    width: 25px;
    height: 25px;
    object-fir: contain;
}
.floor_plans_btn:hover,
.floor_plans_btn:active {
    background-color: var(--color-footer) !important;
    color: var(--color-white) !important;
    border: 1px solid var(--color-footer) !important;
}
.floor_plans_btn:hover img,
.floor_plans_btn:active img {
    filter: invert(1);
}
.floor_plans_section .heading_flex {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.floor_plans_right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: end;
}
.floor_right_text {
    color: var(--color-newblue);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-semibold);
}
.floor_right_blur_text {
    color: var(--color-black);
    font-size: 25px;
    font-weight: 600;
    font-family: var(--font-semibold);
    filter: blur(4px);
}
@media (max-width: 1440px) {
    .floor_plans_nav .nav-link {
        padding: 8px 10px;
        font-size: 16px;
    }
}
@media (max-width: 1199px) {
    
    .floor_plans_right {
        gap: 1rem;
    }
    .floor_right_text {
        font-size: 18px;
    }
    .floor_right_blur_text {
        font-size: 20px;
    }
    
}
@media (max-width: 991px) {
    .floor_palns_flex .floor_text_content,
    .floor_right_text {
        font-size: 16px;
    }
    .floor_plans_right {
        gap: 1rem;
        justify-content: start;
    }
    .floor_palns_flex,
    .floor_plans_section .heading_flex {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
    .floor_plans_nav {
        margin-top: 1rem;
        justify-content: start;
        margin-bottom: 0;
    }
}
@media (max-width: 767px) {
    
    .floor_palns_flex .floor_text_title {
        font-size: 20px;
    }
    .floor_palns_flex .floor_text_content,
    .floor_plans_btn {
        font-size: 16px;
    }
}