.floor_plan_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 3rem;
}
.floor_plan_grid_item {
    border: 1px solid var(--color-footer);
}
.floor_plan_grid_item .floor_blans_image {
    padding: 12px;
}
.floor_plan_grid_item .floor_blans_image img {
    width: 100%;
    object-fit: contain;
    height: 184px;
}
.floor_plan_btn_block {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--color-footer);
    padding: 10px 15px;
    color: var(--color-white);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
}
.floor_plan_btn_block .floor_plans_btn {
    white-space: nowrap;
    font-size: 16px;
    padding: 6px 15px;
    background-color: var(--color-transparent);
    color: var(--color-white);
    border-color: var(--color-white);
}
.floor_plan_btn_block .floor_plans_btn:hover,
.floor_plan_btn_block .floor_plans_btn:active {
    background-color: var(--color-yellow) !important;
    border-color: var(--color-yellow) !important;
    color: var(--color-black) !important;
}
.floor_plan_btn_heading {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-white);
}
@media (max-width: 1440px) {
    .floor_plan_btn_heading {
        font-size: 16px;
        line-height: 20px;
    }
    .floor_plan_btn_block .floor_plans_btn {
        font-size: 14px;
        padding: 6px 10px;
    }
}
@media (max-width: 1199px) {
    .floor_plan_btn_heading {
        font-size: 14px;
        line-height: 16px;
    }
    .floor_plan_grid_item .floor_blans_image img {
        height: 150px;
    }
    .floor_plan_btn_block .floor_plans_btn {
        font-size: 13px;
        padding: 6px 8px;
    }
    .floor_plan_grid_item .floor_blans_image {
        padding: 6px;
    }
    .floor_plan_btn_block {
        padding: 8px 10px;
    }
}
@media (max-width: 991px) {
    .floor_plan_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .floor_plan_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}